/* .app__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
} */

.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_body {
  display: flex;
}
